body
{

    align-items: center;

}

.fonts
{
    color: #02471b;
}

.header
{

    width: 100%;
    height: 200px;

}

.schoollogo
{
    width: 120px;
    height: 120px;
}



.BodyBG
{

    background-color: #0da445;
    width: 100%;
    height: 400px;
}

.BodyBG2
{

    background-color: #0da445;
    width: 100%;
    height: 100%;
}

.BodyBG3
{

    background-color: #0d7935;
    width: 100%;
    height: 100%;
}
.BodyBGfullview
{

    background-color: #0da445;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.BodyBGfullview2
{

    background-color: #0da445;
    width: 100%;

    margin: 0;
    padding: 0;
}



html.body.BodyBGfullview2
{

    background-color: #0da445;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.carDbg
{

    background-color: #0d7935;
    border: none;
    

}

.carDbg2
{

    background-color: #ffffff;
    border: none;
    

}

.inpuTbg {
    background-color: #0d7935 !important; 
    border: none !important;
    color: #ffffff !important;
    opacity: 1 !important;
    font-weight: bold !important;
    font-size: 35px;
}

.inpuTbg2 {
    background-color: #0d7935 !important; 
    border: none !important;
    color: #ffffff !important;
    opacity: 1 !important;
    
}

.inpuTbg3 {
    background-color: #0da445 !important; 
    border: none !important;
    color: #ffffff !important;
    opacity: 1 !important;
    
}

.inpuTbg4 {
    background-color: #0da445 !important; 
    border: none !important;
    color: #ffffff !important;
    opacity: 1 !important;
    font-weight: bold !important;
    font-size: 50px;
}

.inpuTbg::placeholder {
    color: rgba(255, 255, 255, 1) !important;

}

.inpuTbg2::placeholder {
    color: rgba(255, 255, 255, 1) !important;

}

.inpuTbg3::placeholder {
    color: rgba(255, 255, 255, 1) !important;

}

.inpuTbg4::placeholder {
    color: rgba(255, 255, 255, 1) !important;

}
.BtN
{
    background-color: #ffffff !important;
}


/* login part */

.textcolor
{
    color: #ffffff !important;
}

.textcolorgreen
{
    color: #0d7935 !important;
}

.textcolorred
{
    color: #790d0d !important;
}
.bgcolorgreen
{
    background-color: #0d7935 !important;
}





.logintextbox
{
    color: #0d7935 !important;
    border: none !important;
    opacity: 1 !important;
}

.logintextbox::placeholder {
    color: rgba(255, 255, 255, 1) !important;

}


.headerimg
{
    height: 170px;
    width: 100%;
    margin: 0;
    padding: 0;
}




/* verification part */

